//-- VARS ------------------------------------------------------- //

$bg-body: #F2F2F2;
$color-1: #75BC97;
$color-2: #1E6B4E;
$color-3: #0C261C;

$font-color: #848484;
$font-color-2: #A9A9A9;

//-- KEYFRAMES -------------------------------------------------- //

@-webkit-keyframes jump { 
    0% , 100% { transform: translateY(0); } 
    50% { transform: translateY(15px); } 
}

@keyframes jump { 
    0% , 100% { transform: translateY(0); } 
    50% { transform: translateY(15px); } 
}

//-- DEFAULT ---------------------------------------------------- //

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: $font-color;
    background: $bg-body;
    font-family: "Montserrat", sans-serif;
}

b {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.container {
    width: 927px;
    max-width: 100%;
    margin: auto;
    padding: 0 35px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12.5px;
    .col {
        flex: 1;
        width: 50%;
        padding: 0 12.5px;
    }
}

//-- BANNER ----------------------------------------------------- //

#banner {
    padding: 50px 0 45px;
    position: relative;
    background-color: $color-1;
    .row {
        align-items: center;
        .col {
            &:first-child {
                position: relative;
                z-index: 2;
            }
        }
    }
    .title {
        font-weight: bold;
        font-size: 70px;
        line-height: 85px;
        color: #fff;
        margin: 45px 0 25px;
    }
    .arrow {
        width: 35px;
        height: 39px;
        display: block;
        border: 0;
        cursor: pointer;
        background: url('images/icons//arrow-down.svg') no-repeat;
        background-size: contain;
        animation: jump 1s ease-out 0s infinite;
    }
    .image {
        width: 335px;
        display: block;
        margin: auto;
    }
    .leaves {
        height: 100%;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        &-left {
            width: 57vw;
            max-width: 60vw;
            left: 0;
            background-image: url('images/hero/desktop/left-leaves.png');
            background-position: bottom right;
        }
        &-right {
            width: 22vw;
            max-width: 22vw;
            right: 0;
            background-image: url('images/hero/desktop/right-leaves.png');
            background-position: bottom left;
        }
        &-top {
            display: none;
            height: calc(100% - 170px);
            left: 0;
            right: 0;
            background-image: url('images/hero/mobile/mobile-leaves.png');
            background-position: bottom center;
        }
    }
}

//-- SELECT ----------------------------------------------------- //

#select {
    overflow: hidden;
    padding: 47px 0 3px;
    counter-reset: item;  
    background-color: #fff;
    .row {
        margin: 0 -50px;
        .col {
            padding: 0 50px;
            margin-bottom: 50px;
            &:last-child {
                .icon {
                    img {
                        max-height: 62px;
                    }
                }
            }
        }
    }
    .icon {
        height: 75px;
        display: flex;
        align-items: center;
        .rotate {
            transform: scaleX(-1);
        }
        img {
            max-height: 100%;
        }
    }
    p {
        font-size: 14px;
        line-height: 22px;
        margin: 13px 0 24px;
        &:before {
            content: counter(item)'. ';
            counter-increment: item;
            font-weight: bold;
        }
    }
    .select {
        position: relative;
        &:after {
            content: '';
            width: 40px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background: url('images/icons/arrow-down-select.svg') 30% 52% no-repeat;
            background-size: 18px;
            pointer-events: none;
        }
        select {
            width: 100%;
            height: 40px;
            color: $font-color-2;
            cursor: pointer;
            appearance: none;
            border-radius: 19px;
            padding: 5px 40px 5px 18px;
            border: 1px solid $font-color-2;
            &:hover {
                border-color: $color-1;
            }
        }
    }
}

//-- RESULT ----------------------------------------------------- //

#result {
    padding: 37px 0;
    &.no-result {
        padding: 52px 0;
        color: $font-color-2;
        .row {
            align-items: center;
        }
        .col {
            width: 100%;
            &:last-child {
                max-width: 34%;
            }
        }
        .title {
            font-size: 45px;
            font-weight: bold;
            line-height: 55px;
            margin-bottom: 13px;
        }
        p {
            width: 220px;
            max-width: 100%;
            font-size: 16px;
            line-height: 27px;
        }
    }
}

//-- MEDIAS ----------------------------------------------------- //

@media (max-width: 767.98px) { // xs, sm
    #banner {
        padding: 0;
        .row {
            padding: 39px 0 25px;
            flex-direction: column;
            align-items: flex-start;
            .col {
                width: 100%;
            }
        }
        .image {
            margin-top: 40px;
        }
        .leaves {
            &-left, &-right {
                display: none;
            }
            &-top {
                display: block;
            }
        }
    }
    #select {
        padding: 18px 0 0;
        .row {
            flex-direction: column;
            align-items: center;
            .col {
                width: 319px;
                max-width: 100%;
            }
        }
    }
    #result {
        &.no-result {
            padding: 47px 0 31px;
            .col {
                &:last-child {
                    max-width: 30%;
                }
            }
        }
    }
}

@media (max-width: 575.98px) { // xs
    #banner {
        min-height: 100vh;
        .container {
            min-height: inherit;
        }
        .row {
            min-height: inherit;
            .col {
                &:last-child {
                    width: auto;
                    margin: auto;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
        .title {
            width: 250px;
            font-size: 40px;
            line-height: 49px;
            margin: 35px 0 16px;
        }
        .image {
            width: 276px;
        }
    }
    #result {
        &.no-result {
            .row {
                flex-direction: column;
            }
            .col {
                &:last-child {
                    max-width: 100%;
                }
            }
            img {
                display: block;
                margin: 37px auto 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { // md
    .container {
        width: 755px;
    }
    #banner {
        .row {
            .col {
                &:first-child {
                   max-width: 41%;
                }
            }
        }
        .title {
            font-size: 45px;
            line-height: 60px;
        }
    }
    #select {
        .row {
            margin: 0 -25px;
            .col {
                padding: 0 25px;
            }
        }
    }
}